<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width", initial-scale="1.0", shrink-to-fit="no">
    <title></title>

    <!-- Main CSS -->
    <link rel="stylesheet" href="main.css">

    <style>
      img {
        height: 200px;
        width: 200px;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>Stitches by Moonlight</h1>
      <h3>A stitchy collection for those most comfortable living in the dark.</h3>
    </header>
    <div class="stitches">
          <% for (let i = 0; i < stitches.length; i++) { %>
            <a href="/welcomepage/<%=stitches[i].id;%>"> <img src="<%= stitches[i].img %> " class="rounded-lg"></img> </a>
          <% } %>
    </div>

    <a href="/welcomepage/new">Add a New Stitch</a>

  </body>
</html>
