<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Stitches by Moonlight</h1>
    <h2>A stitchy collection for those most comfortable living in the dark.</h2>
    <div class="stitches">
        <% for (let i = 0; i < Stitches.length; i++) { %>
            <a href="/welcomepage/<%=Stitches[i].id;%>"> <img src="<%= Stitches[i].img %> "></img> </a>
          <% } %>
    </div>
    <!-- <div class="add-new">
      <nav>
        <a href="/welcomepage/new/">Create New Product!</a>
      </nav>
    </div> -->
  </body>
</html>
