<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Stitch</title>
  </head>
  <body>
    <h1>Add a New Stitch</h1>

    <form action="/welcomepage" method="POST">
      Image: <input type="text" name="upload an image" value="paste image url" /><br/>
      Name: <input type="text" name="name" value="name" /><br/>
      Level: <input type="text" name="level" value="level" /><br/>
      Type: <input type="text" name="type" value="type" /><br/>
      Notes: <input type="text" name="notes" value="notes" /><br/>
      <input type="submit" value="Submit New Stitch">
    </form>
    <nav class="navbar fixed-bottom navbar-expand-md navbar-light bg-light">
            <a href="/welcomepage" class="btn btn-primary">Back to Home Page</a>
    </nav>
  </body>
</html>
